header{
    font-size: 90px;
    background-color: azure;
    text-align: center;
   
        font-family: "Bokor", system-ui;
        font-weight: 400;
        font-style: normal;
    
}
   nav ul li{
    display: inline-block;
   }
   nav{
    text-align: center;
   }
   
   a{
    text-decoration: none;
    color: black;
   }

   li{
    margin: 0 50px;
    font-size: ;
   }
