body{
    margin: 0;
}
.container{
    border: solid;
    height: 830px;
}
.Top{
    background-color: rgb(233, 50, 50);
    display: flex;
    justify-content: space-between;
    border: solid;
    height: 50px;
    width: 1260px;
    margin-left: 40px;
}
#PP{
    background-color: rgb(241, 241, 85);
}
#p1{
    font-size:16px;
}
#ss{
    font-size:30px;
    line-height:50px ;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    
}
#ss:hover{
    opacity: 0.5;
}
#BB{
    background-color: rgb(241, 241, 85);
    height: 20px;
    width: 100px;
    margin-top: 15px;
}
ul li{
    display: inline-flex;
}
.Head{
    border: solid;
    height: 30px;
    display: inline-flex;
    width: 1260px;
    margin-left: 40px;
}
#left{
    font-size:20px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
#bttn{
    margin-left: 360px;
    line-height: 20px;
    width: 250px;
}
#bttn1{
      margin-right: 290px;
}
#right2{
    margin-right: 20px;
    line-height: 30px;
}
#right3{
    margin-right: 20px;
    line-height: 30px;
}
#right4{
    margin-right: 20px;
    line-height: 30px;
}
#right5{
    line-height: 30px;
}
nav{
    border: solid;
    height: 40px;
    display:flex;
}
#b0{
    margin-right: 80px;
    line-height: 10px;
}
#b1{
    margin: 0 30px;
    line-height: 10px;
}
.Content{
    border: solid;
    height: 400px;
    display:flex;
    /* justify-content: space-evenly; */
}
#box1{
    margin-left: 40px;
    border: solid;
    width: 250px;
}
#box2{
    /* margin-left: 20px; */
    border: solid;
    width: 750px;
}
#box3{
    /* margin-left: 20px; */
    border: solid;
    width: 250px;
}
.Foot{
    border: solid;
    height: 40px;
}
#f1{
    margin: 0 50px;
    line-height: 20px;
}
.section{
    display:grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: space-around;
}
#box4{
    border: solid;
    height: 230px;
    width: 160px;
    margin-left: 30px;
    margin-right: 10px;
}
#box5{
    border: solid;
    height: 230px;
    width: 160px;
    margin-right: 10px;
    
}
#box6{
    border: solid;
    height: 230px;
    width: 160px;
    /* margin-right: 10px; */
}
#box7{
    border: solid;
    height: 230px;
    width: 160px;
    margin-right: 10px;
    margin-left: 10px;
}
#box8{
    border: solid;
    height: 230px;
    width: 160px;
    margin-right: 10px;
    /* margin-left: 10px; */
}
#box9{
    border: solid;
    height: 230px;
    width: 180px;
    margin-right: 90px;
    /* margin-left: 50px; */
}
.fa-twitter{
    font-size: 30px;
    color: rgb(10, 170, 245);
}
.fa-youtube{
    font-size: 30px;
    color: red;
}
.fa-facebook{
    font-size: 30px;
    color: rgb(10, 119, 245);
}